services:
  - type: web
    name: passcom-mobile
    runtime: node
    region: oregon
    plan: free
    buildCommand: npm ci --include=dev && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20
